<div class="columns">
  <div class="column">
    <h2 class="is-size-2">Projects</h2>
  </div>
  <div class="column is-flex is-justify-content-flex-end is-align-items-center">
    <button (click)="displayUploadModal = !displayUploadModal" class="button is-dark has-background-black-ter">
      Add new Project
    </button>
  </div>
</div>
<ng-container *ngIf="projectsArray.length > 0; else elseTemplate">
  <div class="projects">
    <div *ngFor="let project of projectsArray">
      <div class="box project mt-2 has-background-black-ter has-text-success">
        <div class="columns">
          <div class="column">
            <h2 class="is-size-4">
                {{project.name.substring(0, 15)}}
                {{project.name.length>15 && '...'}}
              </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <progress class="progress is-danger" max="10"></progress>
</ng-template>

<app-upload [displayModal]="displayUploadModal" (getProjectsArray)="getProjectsArray()"></app-upload>
