<aside class="menu">
  <p class="menu-label has-text-grey-lighter">
    Projects
  </p>
  <span *ngIf="!projectsArray.length">
    <ng-container *ngIf="errorLoadingProjectsArray">
      <p>No data found</p>
    </ng-container>
  </span>
  <ul *ngFor="let project of projectsArray" class="menu-list">
    <li class="project"><a class="mt-2 has-text-white-ter has-background-dark"  [ngClass]="{'has-background-grey-dark': project._id===selectedId}" (click)="selectProjectIdlocal(project._id)">{{ project.name }}</a></li>
  </ul>
</aside>
