<h1 class="is-size-3 has-text-weight-bold">{{ selectedProject.name }}</h1>
<small>ID: {{ selectedProject._id }}</small>

<h2 class="is-size-4 mt-5">Scripts</h2>
<ng-container *ngIf="selectedProject.scripts.length === 0; else hasScripts">
  <p class="has-text-warning">No scripts</p>
</ng-container>
<ng-template #hasScripts>
  <ul class="has-text-left">
    <li *ngFor="let script of selectedProject.scripts | keyvalue" class="mt-3">
      <p>
        <span class="has-text-info">{{script.key}}</span>:
        <code>{{script.value}}</code>
        <button class="button is-danger is-small ml-3" (click)="runProcessesLocal(script.key)">Run</button>
      </p>
    </li>
  </ul>
</ng-template>

<h2 class="is-size-4 mt-5">Schedules</h2>
<ng-container *ngIf="selectedProject.schedules.length === 0; else hasSchedules">
  <p class="has-text-warning">No schedules</p>
</ng-container>
<ng-template #hasSchedules>
  <div style="overflow-x: auto;">
  <table class="table has-background-grey-darker has-text-light">
    <thead>
      <tr>
        <th *ngFor="let header of tableHeaders" class="has-text-light"><abbr title="{{header.title}}">{{header.shortcut}}</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of selectedProject.schedules; let i=index;">
        <th class="has-text-light">{{i}}</th>
        <td>{{schedule.scriptName}}</td>
        <td>{{schedule._id}}</td>
        <td>Script runs every: {{schedule.every.value}} {{schedule.every.timeType}}</td>
        <td>{{schedule.nextRun | date:'medium'}}</td>
        <td><button class="button is-dark has-background-black-ter has-text-danger" (click)="deleteSchedule(schedule._id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  </div>
</ng-template>
<app-add-schedule [selectedProject]="selectedProject" (updateSchedules)="updateSchedules($event)"></app-add-schedule>
<h2 class="is-size-4 mt-5">Output Data</h2>
<button class="button is-dark has-background-black-ter has-text-primary mt-3" (click)="downloadData()">
  Download Output data
</button>
<h2 class="is-size-4 mt-5">Project settings</h2>
<button class="button is-dark has-background-black-ter has-text-danger mt-3" (click)="deleteProject()">
  Delete project
</button>
<app-pop-up-dialog [displayPopUp]="displayPopUp" [popUpOptions]="popUpOptions" (selectedAction)="popUpAction($event)"></app-pop-up-dialog>
